<% include ../partials/header.ejs %>
<% include ../partials/navbar.ejs %>

   <div class="container">
       <section class="jumbotron text-center">
          <div class="container">
            <h3 class="display-4">Quizz</h3>
            <p>See your quizzes, your quiz results, and other quizzes</p>
            <a class="btn btn-primary btn-lg" href="quizzes/new">Create A Quiz</a>
            <a class="btn btn-primary btn-lg" href="users/<%= currentUser.id %>">View Your Quizzes</a>
            
          </div>
  </section>
  
      <div class="quizzes">
         <div class="row">
          <div class="col-md-12">
           <% quiz.forEach(function(quiz) { %>
            <div class="card">
              <div class ="card-block">
                <h4 class="card-title"><%= quiz.title %></h4>
                <h6 class="card-subtitle mb-2 text-muted"><%= quiz.author.username %></h6>
                <p class="card-text"><%= quiz.question %></p>
                <a href="/quizzes/<%= quiz.id %>">Take Quiz</a>
              </div>
            </div>
     <% }); %>   
          </div>
 </div>
      </div>


<% include ../partials/footer.ejs %>